//Definición de los colores principales
$color-body: #f4f4f4;

$color-principal: #81ab2c;

$color-secundario: #878787;

$color-footer: #151414;

$gradient-banner: linear-gradient(to right, #2C5364, #203A43, #0F2027);